<form th:action="@{/expedientes/{idExp}/archivo(idExp=${idExp})}" th:object="${modeloTramite}" id="archivoExpedienteForm" method="post" sinacsec:permisos="'P_LECTURA'">
	<h5 th:text="#{expediente.archivo}"></h5>
	<div class="position-relative">
		<p th:if="${modeloTramite.codEstadoExpediente} == 'ARCE'">
			<span th:text="#{expediente.archivo.mensaje1}"></span>
			<span th:text="${modeloTramite.fechaArchivado}"></span>
			<span th:text="#{expediente.archivo.mensaje2}"></span>
			<span th:text="${modeloTramite.plazoExpedienteCerrado}"></span>
			<span th:text="#{expediente.archivo.mensaje3}"></span>
			<span th:text="${modeloTramite.fechaCerrado}"></span>
		</p>
		<p th:if="${modeloTramite.codEstadoExpediente != null && modeloTramite.codEstadoExpediente == 'EXPC'}">
			<span th:text="#{expediente.cierre.mensajeExpedienteCerrado1}"></span>
			<span th:text="${modeloTramite.fechaCerrado}"></span>
			<span th:text="#{expediente.cierre.mensajeExpedienteCerrado2}"></span>
			<span th:text="${modeloTramite.plazoExpedienteCerrado}"></span>
			<span th:text="#{expediente.cierre.mensajeExpedienteCerrado3}"></span>
			<span th:text="${modeloTramite.fechaArchivado}"></span>
			<span th:text="#{expediente.cierre.mensajeParteFinal}"></span>
		</p>
		<p th:if="${modeloTramite.codEstadoExpediente != 'ARCE' && modeloTramite.codEstadoExpediente != 'EXPC'}">
			<span th:text="#{expediente.archivo.mensajeDefault}"></span>
		</p>
	</div>
</form>