<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<section name="head" th:insert="~{layout/head (title='SINAC - CIERRE')}">
	<head>
		<title>SINAC - CIERRE</title>
	</head>
</section>

<body>
	<div class="d-grid home-container" sinacsec:permisos="'P_LECTURA'">

		<main class="main-content">
			<form th:action="@{/expedientes/{idExp}/cierre(idExp=${idExp})}" th:object="${modeloTramite}"
				id="cierreExpedienteForm">
				<input hidden th:value="${modeloTramite}">
				<input hidden th:value="${modeloTramite.accionesOperaciones}">
				<h5 th:text="#{expediente.cierre}"></h5>
				<div
					th:if="${modeloTramite.codEstadoExpediente != null && modeloTramite.codEstadoExpediente == 'EXPC'}">
					<p>
						<span th:text="#{expediente.cierre.mensajeExpedienteCerrado1}"></span>
						<span th:text="${modeloTramite.fechaCerrado}"></span>
						<span th:text="#{expediente.cierre.mensajeExpedienteCerrado2}"></span>
						<span th:text="${modeloTramite.plazoExpedienteCerrado}"></span>
						<span th:text="#{expediente.cierre.mensajeExpedienteCerrado3}"></span>
						<span th:text="${modeloTramite.fechaArchivado}"></span>
						<span th:text="#{expediente.cierre.mensajeParteFinal}"></span>
					</p>
				</div>
				<div th:if="${(modeloTramite.accionesOperaciones?.get('CEXP')?.get('CEXP') != null || modeloTramite.accionesOperaciones?.get('CEXP')?.get('CENC') != null
				|| modeloTramite.accionesOperaciones?.get('CEXP')?.get('CESR') != null) && modeloTramite.codEstadoExpediente != 'EXPC'}">
					<div>
						<p>
							<span th:text="#{expediente.cierre.mensajeExpedienteAbierto}"></span>
							<span th:text="${modeloTramite.plazoExpedienteCerrado}"></span>
							<span th:text="#{expediente.cierre.mensajeParteFinal}"></span>
						</p>
					</div>
					<div>
						<button th:if="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CEXP') != null}" class="primary" id="cerrarExpediente" type="button"
							th:onclick="|ejecutaAccionTramitacion(${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CEXP')},'${modeloTramite.expediente.idExp}','CIE', [])|"
							sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CEXP')}">
							<span th:text="#{boton.cerrar.expediente}"></span>
						</button>
						<button th:if="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CENC') != null}" class="primary"
							id="cerrarExpediente" type="button"
							th:onclick="|ejecutaAccionTramitacion(${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CENC')},'${modeloTramite.expediente.idExp}','CIE', [])|"
							sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CENC')}">
							<span th:text="#{boton.cerrar.expediente}"></span>
						</button>
						<button th:if="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CESR') != null}" class="primary"
							id="cerrarExpediente" type="button"
							th:onclick="|ejecutaAccionTramitacion(${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CESR')},'${modeloTramite.expediente.idExp}','CIE', [])|"
							sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('CEXP')?.get('CESR')}">
							<span th:text="#{boton.cerrar.expediente}"></span>
						</button>
					</div>
				</div>
				<div th:if="${modeloTramite.accionesOperaciones.get('CEXP')?.get('CEXP') == null && modeloTramite.accionesOperaciones?.get('CEXP')?.get('CENC') == null 
					&& modeloTramite.accionesOperaciones?.get('CEXP')?.get('CESR') == null && modeloTramite.codEstadoExpediente != 'EXPC'}">
					<p>
						<span th:text="#{expediente.cierre.mensajeDefault}"></span>
					</p>
				</div>
				
			</form>
			
		</main>
	</div>
</body>

</html>