<section id="comunicacionConcesion" class="card-container" sinacsec:permisos="'P_LECTURA'">
	<header>
		<img src="/sinac-core/static/images/mail-32-blue.svg" alt="Documentación para comunicación de concesión">
		<span>Documentación para comunicación de concesión</span>
	</header>
	<form action="#" th:action="@{/expedientes/}+${modeloTramite.expediente.idExp}" th:object="${modeloTramite}"
		name="expediente" enctype="multipart/form-data" id="expediente" method="post">
		<input type="hidden" id="urlEditarDocumento" th:value="${urlEditarDocumento}" name="urlEditarDocumento"></input>
		<input type="hidden" id="acciones" name="acciones" th:value="${modeloTramite.accionesOperaciones}" />
		<input type="hidden" id="codTramite" name="codTramite" th:value="${modeloTramite.codTramite}" />
		<th:block
			th:insert="~{fragments/comunicacionConcesion/comunicacion :: comunicacion('modeloTramite','actualizar',${url}+'/expedientes/'+${modeloTramite.expediente.idExp}+'/comunicacion')}">
		</th:block>
		<br />
		<div th:if="${modeloTramite.accionesOperaciones.get('COMD')?.get('CCONC')}"
			class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button type="button" ;
				th:attr="onclick=|parameterMap.set('comunicarInteresado', '${modeloTramite.idExpediente}');ajaxLoadForm('${url}/expedientes/${modeloTramite.idExpediente}/comunicacion', 'POST', 'expediente', new Array('actualizar'), true);|"
				class="primary">Comunicar al interesado</button>
		</div>
		<div th:if="${modeloTramite.accionesOperaciones.get('CORC')?.get('CCONR')}"
			class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button type="button"
				th:attr="onclick=|parameterMap.set('comunicarRc', '${modeloTramite.idExpediente}');ajaxLoadForm('${url}/expedientes/${modeloTramite.idExpediente}/comunicacion', 'POST', 'expediente', new Array('actualizar'), true);|"
				class="primary">Comunicar al registro civil</button>
		</div>
		<br />
		<div sinacsec:permisos="'P_TRAMITA'" th:if="${modeloTramite.mostrarInscripcionRc}" class="d-flex justify-content-between">
			<div class="info-container">
				<div>
					<input class="form-control" type="date" th:field="${modeloTramite.fechaInscripcionRc}"
						th:attr="max=${#dates.format(#dates.create(3000,12,31), 'yyyy-MM-dd')}">
					<label>Fecha de inscripción en el RC</label>
				</div>
			</div>
			<button type="button" class="primary">Marcar inscripción en registro civil como
				recibida</button>
		</div>
		<br />
	</form>
	<div id="actualizar">
		<script name="ejecutarScript" th:inline="javascript" th:utext='${modeloTramite.javascript}'>
		</script>
	</div>
	<form sinacsec:permisos="'P_TRAMITA'" action="#" id="formularioEditarDocumento" style="display: none;" name="formularioEditarDocumento"
		method="get"></form>
</section>