<section class="card-container" sinacsec:permisos="'P_LECTURA'">
		<header>Escrito Respuesta Sin Error</header>
		<form th:action="@{/expedientes/{idExp}/tramite/ERS/(idExp=${modeloTramite.idExp})}" th:object="${modeloTramite}"
			id="formEscritoRespuesta" name="		formEscritoRespuesta" method="post">
			<input type="hidden" th:value="${modeloTramite.idExp}" id="idExp"></input>
			<input type="hidden" id="urlEditarDocumento" th:value="${urlEditarDocumento}" name="urlEditarDocumento"></input>
			<input hidden id="idPro" name="idPro" th:value="${modeloTramite.expediente.procedimientoDto.idPro}">
			<input hidden id="accOpe" name="accOpe" th:value="${modeloTramite.accionesOperaciones}" />
			<input hidden id="accion" name="accion" th:value="${modeloTramite.codAccion}" />
			<div class="d-flex mt-2 mb-4" sinacsec:permisos="'P_TRAMITA'" th:if="|${modeloTramite.accionesOperaciones?.get('RERR')?.get('REXP')}|">
				<div id="divBotonResolver" style="display: block;">
					<div id="botonResolver" class="d-grid gap-2 d-md-flex justify-content-md-start">
						<button type="button"
							th:attr="onclick=|parameterMap.set('pftoa', '${modeloTramite.accionesOperaciones?.get('MSER')?.get('MESC')}');
									ajaxLoadForm('${url}/expedientes/${modeloTramite.expediente.idExp}/resolucion', 'POST', 'formEscritoRespuesta', new Array('main-sinac'), true);|"
							class="primary">Marcar Sin Error</button>
					</div>
				</div>
			</div>
			<span id="errorValidator" class="error-validator" name="errorEscritoRespuesta" hidden></span>
			<div id="tablaDocumentos" th:unless="|${modeloTramite.accionesOperaciones?.get('RERR')?.get('REXP')}|"
						style="display: block;">
				<table id="tablaDocumentosEscritoRespuesta" aria-describedby="Documentos Escrito Respuesta" class="my-2">
					<thead>
						<tr>
							<th scope="col"><span><input type="checkbox" id="checkboxMarcarTodos" name="checkboxMarcarTodos"
										th:onchange="marcarDesmarcarCheckboxes()"></span></th>
							<th scope="col">
								<span>Documento</span>
							</th>
							<th scope="col">
								<span>Estado</span>
							</th>
							<th scope="col">
								<span>F. creación</span>
							</th>
							<th scope="col">
								<span>F. envío a firma</span>
							</th>
							<th scope="col">
								<span>F. firma</span>
							</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="documento, iterStat :${modeloTramite.tablaDocumentos}">
							<input hidden th:id="|idPlantilla${iterStat.index}|" th:name="|idPlantilla${iterStat.index}|"
								th:value="${documento.idPla}">
							<input hidden th:id="|idExpDoc${iterStat.index}|" th:name="|idExpDoc${iterStat.index}|"
								th:value="${documento.idExpDoc}">
							<td>
								<input th:if="${documento.nomDocumento}" th:value="${documento.idExpDoc}" type="checkbox"
									id="checkboxDocumentoAcuerdo" class="idDocsGenerados" name="agregarDocumento"
									th:data-parameter1="${documento.nomDocumento}"
									th:data-parameter2="${documento.codTFirmaLdv}"
									th:data-parameter3="${documento.estadoDocumento != null ? documento.estadoDocumento.codLdvMae : null}"
									th:data-parameter4="|idPlantilla${iterStat.index}|"
									th:data-parameter5=|idExpDoc${iterStat.index}| th:data-parameter6="${documento.codDocTipo}"
									th:disabled="${documento.estadoDocumento != null ? 'disabled' : null}"
									th:checked="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae != 'EDOC-NRE'}">
							</td>
							<td><span th:text="${documento.nomDocumento}" id="nombreDocumento" name="nombreDocumento"></span>
							</td>
							<td>
								<div th:unless="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
									class="tag-container"
									th:id="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FIR' ? 'checked' : 'info'}">
									<img th:src="@{/static/images/document_denied-16-grey.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FRE'}">
									<img th:src="@{/static/images/document_forward-16-grey.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-ENF'}">
									<img th:src="@{/static/images/document_checked-16-grey.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-FIR'}">
									<img th:src="@{/static/images/preliminary.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-PVA'}">
									<img th:src="@{/static/images/check_circle-black.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-VAL'}">
									<img th:src="@{/static/images/warning-black.svg}" alt="Alerta"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}">
									<span th:if="${documento.estadoDocumento}"
										th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
										th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
										name="estadoDocumento">
									</span>
									<span th:unless="${documento.estadoDocumento}" value="pendienteGenerar" id="estadoDocumento"
										name="estadoDocumento">Pendiente de generar</span>
								</div>
								<div th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
									class="tag-container" th:id="alert">
									<img th:src="@{/static/images/warning-black.svg}" alt="Alerta">
									<span th:if="${documento.estadoDocumento}"
										th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
										th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
										name="estadoDocumento">
								</div>
							</td>
							<td>
								<span th:if="${documento.fechaCreacionDocumento}"
									th:text="${documento.fechaCreacionDocumento}"></span>
								<span th:unless="${documento.fechaCreacionDocumento}">-</span>
							</td>
							<td>
								<span th:if="${documento.fechaEnvioFirmaDocumento}"
									th:text="${documento.fechaEnvioFirmaDocumento}"></span>
								<span th:unless="${documento.fechaEnvioFirmaDocumento}" th:text="'-'"></span>
							</td>
							<td>
								<span th:if="${documento.fechaFirmaDocumento}"
									th:text="${documento.fechaFirmaDocumento}"></span>
								<span th:unless="${documento.fechaFirmaDocumento}" th:text="'-'"></span>
							</td>
							<td>
								<div class="d-flex" sinacsec:permisos="'P_TRAMITA'">
									<div class="d-flex">
										<button
											th:if="${(documento.estadoDocumento == null or documento.estadoDocumento.codLdvMae == 'EDOC-FRE') and modeloTramite.accionesOperaciones?.get('GEND')?.get('GERS') != null }"
											type="button" class="tertiary ms-auto" th:data-parameter1="${idExp}"
											th:data-parameter2="${documento.idPla}"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('GEND')?.get('GERS')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('GEND')?.get('GERS')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idPlantilla${iterStat.index}'])|">
											<img th:src="@{/static/images/add_notes.svg}" alt="Generación de plantilla">
										</button>
										<button
											th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR'}"
											type="button" th:data-parameter1="${modeloTramite.idExp}"
											th:data-parameter2="${documento.idExpDoc}"
											th:data-parameter3="${modeloTramite.codTramite}" class="tertiary"
											th:onclick="getDocumentoUrl(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))">
											<img th:src="@{/static/images/edit.svg}" alt="Edición de plantilla"></button>
										<button
											th:if="${(documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR') and modeloTramite.accionesOperaciones?.get('EPFI')?.get('FERS') != null and documento.codTFirmaLdv != 'TFIR-NFI'}"
											type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('EPFI')?.get('FERS')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('EPFI')?.get('FERS')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
											<img th:src="@{/static/images/document_forward-16-blue.svg}" alt="Envío a firma">
										</button>
										<button
										    th:if="${documento.estadoDocumento != null and (documento.estadoDocumento.codLdvMae == 'EDOC-FIR' or documento.estadoDocumento.codLdvMae == 'EDOC-NER') and modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS') != null}"
										    type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
										    sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS')}"
										    th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
										    <img th:src="@{/static/images/notification_forward-18-blue.svg}" alt="Enviar notificación">
										</button>
									</div>
									<button
										th:if="${documento.estadoDocumento != null and (documento.estadoDocumento.codLdvMae == 'EDOC-FIR' or documento.estadoDocumento.codLdvMae == 'EDOC-NER') and modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS') != null}"
										type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
										sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS')}"
										th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('NDOC')?.get('NERS')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
										<img th:src="@{/static/images/notification_forward-18-blue.svg}" alt="Enviar notificación">
									</button>
									
									<button
										th:if="${documento.expedienteDocumentoDto != null and documento?.estadoDocumento?.codLdvMae != 'EDOC-NRE' and documento.estadoDocumento != 'pendienteGenerar'}"
										type="button" onclick="menuDesplegable(this)" id="menuButton" class="tertiary ms-auto"
										th:disabled="${documento.estadoDocumento == null}"><img th:src="@{/static/images/more_vert.svg}"
											alt="Más opciones"></button>
									<span id="expedienteDocumento" hidden th:value="${documento.estadoDocumento}"></span>
									</div>
								<div id="menu" class="menu">
									<div th:if="${documento.expedienteDocumentoDto != null }">
										<button type="button" class="tertiary" id="abrirDetalleDoc"
											th:attr="onclick=|abrirModal('${documento.idExpDoc}')|"><img
												th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
											Ver detalle</button>
										<dialog th:id="'modal' + ${documento.idExpDoc}">
											<th:block
												th:insert="~{fragments/detalleDocumento :: detalleDocumento('formAcuerdoConsejoMinistros', (${documento.expedienteDocumentoDto}))}">
											</th:block>
										</dialog>
									</div>
									<button type="button" th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documento.idExpDoc}"
										th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
										class="tertiary"><img th:src="@{/static/images/download.svg}"
											alt="Descarga de documento">Descargar</button>
									<button type="button"
										th:if="${documento.estadoDocumento != null and (documento.estadoDocumento.codLdvMae == 'EDOC-FIR' or documento.estadoDocumento.codLdvMae == 'EDOC-FRE')}"
										th:data-parameter1="${modeloTramite.idExp}" th:data-parameter2="${documento.idExpDoc}"
										th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary"><img th:src="@{/static/images/file_save.svg}"
											alt="Descarga de copia auténtica">Descargar copia auténtica</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<button class="secondary mt-4">
				<svg width="14" height="14" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M4.33325 5.66671H0.333252V4.33337H4.33325V0.333374H5.66658V4.33337H9.66658V5.66671H5.66658V9.66671H4.33325V5.66671Z"
						fill="#0F5DA3" />
				</svg>Añadir otros documentos</button>-->
		</form>
		<form action="#" id="formularioEditarDocumento" name="formularioEditarDocumento" method="get">
		</form>
</section>