<section class="card-container" sinacsec:permisos="'P_LECTURA'">
	<header>Gestiones previas</header>
	<form th:action="@{/expedientes/{idExp}/tramite/GPV/(idExp=${modeloTramite.idExp})}" th:object="${modeloTramite}"
		id="formAcuerdoIncoacion" method="post">
		<input type="hidden" th:value="${modeloTramite.idExp}" id="idExp"></input>
		<input type="hidden" id="urlEditarDocumento" th:value="${urlEditarDocumento}" name="urlEditarDocumento"></input>
		<div class="d-flex mt-2 mb-4" sinacsec:permisos="'P_TRAMITA'">
			<button th:if="${modeloTramite.accionesOperaciones?.get('TGPR')?.get('GPV') != null}" type="button"
				id="terminarGestionesPrevias" class="primary" sinacsec:permisos="'P_TRAMITA'"
				th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('TGPR')?.get('GPV')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', [])|">
				Terminar gestiones previas</button>
			<button type="button" class="tertiary" th:onclick="descargarDocumentosMultipleRevision()">
				Descargar <img th:src="@{/static/images/download.svg}" alt="Descarga">
			</button>
		</div>
		<span id="errorValidator" class="error-validator" name="errorAcuerdoIncoacion" hidden></span>
		<table id="tablaDocumentosGestionesPrevias" aria-describedby="Documentos Gestiones Previas" class="my-2">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"><span><input type="checkbox" id="checkboxMarcarTodos" name="checkboxMarcarTodos"
								th:onchange="marcarDesmarcarCheckboxes()"></span></th>
					<th scope="col">
						<span>Documento</span>
					</th>
					<th scope="col">
						<span>Estado</span>
					</th>
					<th scope="col">
						<span>F. creación</span>
					</th>
					<th scope="col">
						<span>F. envío a firma</span>
					</th>
					<th scope="col">
						<span>F. firma</span>
					</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="documento, iterStat :${modeloTramite.tablaDocumentos}" th:classappend="${documento.expedienteDocumentoDto != null and !documento.expedienteDocumentoDto?.flgActivo 
											and documento.expedienteDocumentoDto?.ldvMaestraDtoByIdEstDocLdv != null} ? historico : '' ">
					<td>
						<img th:if="${documento.expedienteDocumentoDto?.flgFlecha}" id="flechaHistorico_img"
							th:src="@{/static/images/expand_more.svg}" alt="Flecha desplegable"
							class="card-container--right-icon" onclick="toggleElementosHistoricos(this)"
							style="cursor: pointer;" />
					</td>
					<input hidden th:id="|idPlantilla${iterStat.index}|" th:name="|idPlantilla${iterStat.index}|"
						th:value="${documento.idPla}">
					<input hidden th:id="|idExpDoc${iterStat.index}|" th:name="|idExpDoc${iterStat.index}|"
						th:value="${documento.idExpDoc}">
					<td>
						<input th:if="${documento.nomDocumento}" th:value="${documento.idExpDoc}" type="checkbox"
							id="checkboxDocumentoAcuerdo" class="idDocsGenerados" name="agregarDocumento"
							th:data-parameter1="${documento.nomDocumento}"
							th:data-parameter2="${documento.codTFirmaLdv}"
							th:data-parameter3="${documento.estadoDocumento != null ? documento.estadoDocumento.codLdvMae : null}"
							th:data-parameter4="|idPlantilla${iterStat.index}|"
							th:data-parameter5=|idExpDoc${iterStat.index}| th:data-parameter6="${documento.codDocTipo}"
							th:disabled="${documento.estadoDocumento != null ? 'disabled' : null}"
							th:checked="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae != 'EDOC-NRE'}">
					</td>
					<td><span th:text="${documento.nomDocumento}" id="nombreDocumento" name="nombreDocumento"></span>
					</td>
					<td>
						<div th:unless="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
							class="tag-container"
							th:id="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FIR' ? 'checked' : 'info'}">
							<img th:src="@{/static/images/document_denied-16-grey.svg}" alt="Estado del documento"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FRE'}">
							<img th:src="@{/static/images/document_forward-16-grey.svg}" alt="Estado del documento"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-ENF'}">
							<img th:src="@{/static/images/document_checked-16-grey.svg}" alt="Estado del documento"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-FIR'}">
							<img th:src="@{/static/images/preliminary.svg}" alt="Estado del documento"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-PVA'}">
							<img th:src="@{/static/images/check_circle-black.svg}" alt="Estado del documento"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-VAL'}">
							<img th:src="@{/static/images/warning-black.svg}" alt="Alerta"
								th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}">
							<span th:if="${documento.estadoDocumento}"
								th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
								th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
								name="estadoDocumento">
							</span>
							<span th:unless="${documento.estadoDocumento}" value="pendienteGenerar" id="estadoDocumento"
								name="estadoDocumento">Pendiente de generar</span>
						</div>
						<div th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
							class="tag-container" th:id="alert">
							<img th:src="@{/static/images/warning-black.svg}" alt="Alerta">
							<span th:if="${documento.estadoDocumento}"
								th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
								th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
								name="estadoDocumento">
						</div>
					</td>
					<td>
						<span th:if="${documento.fechaCreacionDocumento}"
							th:text="${documento.fechaCreacionDocumento}"></span>
						<span th:unless="${documento.fechaCreacionDocumento}">-</span>
					</td>
					<td>
						<span th:if="${documento.fechaEnvioFirmaDocumento}"
							th:text="${documento.fechaEnvioFirmaDocumento}"></span>
						<span th:unless="${documento.fechaEnvioFirmaDocumento}" th:text="'-'"></span>
					</td>
					<td>
						<span th:if="${documento.fechaFirmaDocumento}"
							th:text="${documento.fechaFirmaDocumento}"></span>
						<span th:unless="${documento.fechaFirmaDocumento}" th:text="'-'"></span>
					</td>
					<td>
						<div class="d-flex" sinacsec:permisos="'P_TRAMITA'">
							<div class="d-flex">
								<button
									th:if="${modeloTramite.accionesOperaciones?.get('GEND')?.get('GDA') != null}"
									th:unless="${documento.expedienteDocumentoDto != null and !documento.expedienteDocumentoDto?.flgActivo and documento.expedienteDocumentoDto?.ldvMaestraDtoByIdEstDocLdv != null}"
									type="button" class="tertiary ms-auto" th:data-parameter1="${idExp}"
									th:data-parameter2="${documento.idPla}"
									sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('GEND')?.get('GDA') != null}"
									th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('GEND')?.get('GDA')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idPlantilla${iterStat.index}'])|">
									<img th:src="@{/static/images/add_notes.svg}" alt="Generación de plantilla">
								</button>
								<button
									th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR'}"
									type="button" th:data-parameter1="${modeloTramite.idExp}"
									th:data-parameter2="${documento.idExpDoc}"
									th:data-parameter3="${modeloTramite.codTramite}" class="tertiary"
									th:onclick="getDocumentoUrl(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))">
									<img th:src="@{/static/images/edit.svg}" alt="Edición de plantilla"></button>
								<button
									th:if="${(documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR') and modeloTramite.accionesOperaciones?.get('EPFI')?.get('FDA') != null and documento.codTFirmaLdv != 'TFIR-NFI'}"
									type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
									sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('EPFI')?.get('FDA')}"
									th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('EPFI')?.get('FDA')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
									<img th:src="@{/static/images/document_forward-16-blue.svg}" alt="Envío a firma">
								</button>
							</div>

							<button
								th:if="${documento.expedienteDocumentoDto != null and documento?.estadoDocumento?.codLdvMae != 'EDOC-NRE' and documento.estadoDocumento != 'pendienteGenerar'}"
								type="button" onclick="menuDesplegable(this)" id="menuButton" class="tertiary ms-auto"
								th:disabled="${documento.estadoDocumento == null}"><img
									th:src="@{/static/images/more_vert.svg}" alt="Más opciones"></button>
							<span id="expedienteDocumento" hidden th:value="${documento.estadoDocumento}"></span>
						</div>
						<div id="menu" class="menu">
							<div th:if="${documento.expedienteDocumentoDto != null }">
								<button type="button" class="tertiary" id="abrirDetalleDoc"
									th:attr="onclick=|abrirModal('${documento.idExpDoc}')|"><img
										th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
									Ver detalle</button>
								<dialog th:id="'modal' + ${documento.idExpDoc}">
									<th:block
										th:insert="~{fragments/detalleDocumento :: detalleDocumento('formAcuerdoConsejoMinistros', (${documento.expedienteDocumentoDto}))}">
									</th:block>
								</dialog>
							</div>
							<button type="button" th:data-parameter1="${modeloTramite.idExp}"
								th:data-parameter2="${documento.idExpDoc}"
								th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
								class="tertiary"><img th:src="@{/static/images/download.svg}"
									alt="Descarga de documento">Descargar</button>
							<button type="button" th:if="${documento.expedienteDocumentoDto?.codGd != null}"
								th:data-parameter1="${modeloTramite.idExp}" th:data-parameter2="${documento.idExpDoc}"
								th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
								class="tertiary"><img th:src="@{/static/images/file_save.svg}"
									alt="Descarga de copia auténtica">Descargar copia auténtica</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<button class="secondary mt-4">
			<svg width="14" height="14" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M4.33325 5.66671H0.333252V4.33337H4.33325V0.333374H5.66658V4.33337H9.66658V5.66671H5.66658V9.66671H4.33325V5.66671Z"
					fill="#0F5DA3" />
			</svg>Añadir otros documentos</button>-->
	</form>
	<form action="#" id="formularioEditarDocumento" name="formularioEditarDocumento" method="get">
	</form>
	<dialog id="modalEnviarEmail">
		<div th:if="${enviarEmailDto != null}" th:insert="~{fragments/enviarEmail.html}"></div>
	</dialog>
</section>