<section class="card-container" sinacsec:permisos="'P_LECTURA'">
	<header>Remisión Resolución CM</header>
	<form th:action="@{/expedientes/{idExp}/tramite/RCM/(idExp=${modeloTramite.idExp})}" th:object="${modeloTramite}"
		id="formRemisionResolucionCM" method="post">
		<input type="hidden" th:value="${modeloTramite.idExp}" id="idExp"></input>
		<input type="hidden" id="urlEditarDocumento" th:value="${urlEditarDocumento}" name="urlEditarDocumento"></input>
		<span id="errorValidator" class="error-validator" name="errorAcuerdoIncoacion" hidden></span>

		<div id="documentosRemision" class="card-container">
			<header>Documentos Remision Resolucion CM</header>
			<div class="d-flex mt-2 mb-4" sinacsec:permisos="'P_TRAMITA'">
				<button type="button" class="tertiary ms-auto" id="descargarDocumentos"
					th:onclick="descargarDocumentosMultipleConsejoMinistros()">Descargar
					<img th:src="@{/static/images/download.svg}" alt="Descarga">
				</button>
				<button th:if="${modeloTramite.accionesOperaciones.get('GEND')?.get('GRCM') != null}" class="secondary"
					id="generarDocumentos" type="button"
					th:attr="onclick=|accionMultipleDocumentosAcuerdoConsejoMinistros('${modeloTramite.accionesOperaciones.get('GEND').get('GRCM')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', 'generarDocumento')|">
					Generar plantilla
					<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M2.66667 24C1.93333 24 1.30556 23.7389 0.783333 23.2167C0.261111 22.6944 0 22.0667 0 21.3333V2.66667C0 1.93333 0.261111 1.30556 0.783333 0.783333C1.30556 0.261111 1.93333 0 2.66667 0H17.3333L24 6.66667V21.3333C24 22.0667 23.7389 22.6944 23.2167 23.2167C22.6944 23.7389 22.0667 24 21.3333 24H2.66667ZM2.66667 21.3333H21.3333V8H16V2.66667H2.66667V21.3333ZM5.33333 18.6667H18.6667V16H5.33333V18.6667ZM5.33333 8H12V5.33333H5.33333V8ZM5.33333 13.3333H18.6667V10.6667H5.33333V13.3333Z"
							fill="#0F5DA3" />
					</svg>
				</button>
				<button th:if="${modeloTramite.accionesOperaciones.get('EPFI')?.get('EORCM') != null}" class="secondary"
					id="enviarDocumentosFirma" type="button"
					th:attr="onclick=|accionMultipleDocumentosAcuerdoConsejoMinistros('${modeloTramite.accionesOperaciones.get('EPFI').get('EORCM')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', 'enviarPortafirmas')|">
					Enviar a firma
					<img th:src="@{/static/images/document_forward-16-blue.svg}" alt="Envío por email">
				</button>
			</div>
			<div id="documentosRemision">
				<table id="tablaDocumentosRemision" aria-describedby="Documentos Remision Resolucion CM" class="my-2">
					<thead>
						<tr>
							<th scope="col"><span><input type="checkbox" id="checkboxMarcarTodos"
										name="checkboxMarcarTodos" th:onchange="marcarDesmarcarCheckboxes()"></span>
							</th>
							<th scope="col">
								<span>Documento</span>
							</th>
							<th scope="col">
								<span>Estado</span>
							</th>
							<th scope="col">
								<span>F. creación</span>
							</th>
							<th scope="col">
								<span>F. envío a firma</span>
							</th>
							<th scope="col">
								<span>F. firma</span>
							</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="documento, iterStat :${modeloTramite.tablaDocumentos}">
							<input hidden th:id="|idPlantilla${iterStat.index}|"
								th:name="|idPlantilla${iterStat.index}|" th:value="${documento.idPla}">
							<input hidden th:id="|idExpDoc${iterStat.index}|" th:name="|idExpDoc${iterStat.index}|"
								th:value="${documento.idExpDoc}">
							<td>
								<input th:if="${documento.nomDocumento}" th:value="${documento.idExpDoc}"
									type="checkbox" id="checkboxDocumentoAcuerdo" class="idDocsGenerados"
									name="agregarDocumento" th:data-parameter1="${documento.nomDocumento}"
									th:data-parameter2="${documento.codTFirmaLdv}"
									th:data-parameter3="${documento.estadoDocumento != null ? documento.estadoDocumento.codLdvMae : null}"
									th:data-parameter4="|idPlantilla${iterStat.index}|"
									th:data-parameter5=|idExpDoc${iterStat.index}|
									th:data-parameter6="${documento.codDocTipo}"/>
							</td>
							<td><span th:text="${documento.nomDocumento}" id="nombreDocumento"
									name="nombreDocumento"></span></td>
							<td>
								<div th:unless="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
									class="tag-container"
									th:id="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FIR' ? 'checked' : 'info'}">
									<img th:src="@{/static/images/document_denied-16-grey.svg}"
										alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FRE'}">
									<img th:src="@{/static/images/document_forward-16-grey.svg}"
										alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-ENF'}">
									<img th:src="@{/static/images/document_checked-16-grey.svg}"
										alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-FIR'}">
									<img th:src="@{/static/images/preliminary.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-PVA'}">
									<img th:src="@{/static/images/check_circle-black.svg}" alt="Estado del documento"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-VAL'}">
									<img th:src="@{/static/images/warning-black.svg}" alt="Alerta"
										th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}">
									<span th:if="${documento.estadoDocumento}"
										th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
										th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
										name="estadoDocumento">
									</span>
									<span th:unless="${documento.estadoDocumento}" value="pendienteGenerar"
										id="estadoDocumento" name="estadoDocumento">Pendiente de generar</span>
								</div>
								<div th:if="${documento.estadoDocumento != null and documento.estadoDocumento?.codLdvMae == 'EDOC-NRE'}"
									class="tag-container" th:id="alert">
									<img th:src="@{/static/images/warning-black.svg}" alt="Alerta">
									<span th:if="${documento.estadoDocumento}"
										th:text="${documento.estadoDocumento!= null ? documento.estadoDocumento.nomLdvMae : '-'}"
										th:value="${documento.estadoDocumento.codLdvMae}" id="estadoDocumento"
										name="estadoDocumento">
								</div>
							</td>
							<td>
								<span th:if="${documento.fechaCreacionDocumento}"
									th:text="${documento.fechaCreacionDocumento}"></span>
								<span th:unless="${documento.fechaCreacionDocumento}">-</span>
							</td>
							<td>
								<span th:if="${documento.fechaEnvioFirmaDocumento}"
									th:text="${documento.fechaEnvioFirmaDocumento}"></span>
								<span th:unless="${documento.fechaEnvioFirmaDocumento}" th:text="'-'"></span>
							</td>
							<td>
								<span th:if="${documento.fechaFirmaDocumento}"
									th:text="${documento.fechaFirmaDocumento}"></span>
								<span th:unless="${documento.fechaFirmaDocumento}" th:text="'-'"></span>
							</td>
							<td>
								<div class="d-flex" sinacsec:permisos="'P_TRAMITA'">
									<div class="d-flex">
										<button
											th:if="${(documento.estadoDocumento == null or documento.estadoDocumento.codLdvMae == 'EDOC-FRE') and modeloTramite.accionesOperaciones?.get('GEND')?.get('GRCM') != null }"
											type="button" class="tertiary ms-auto" th:data-parameter1="${idExp}"
											th:title="|Generar la plantilla del documento ${documento.nomDocumento}|"
											th:data-parameter2="${documento.idPla}"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('GEND')?.get('GRCM')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('GEND')?.get('GRCM')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idPlantilla${iterStat.index}'])|">
											<img th:src="@{/static/images/add_notes.svg}" alt="Generación de plantilla">
										</button>
										<button
											th:if="${documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR'}"
											type="button" th:data-parameter1="${modeloTramite.idExp}"
											th:title="|Edición de la plantilla del documento ${documento.nomDocumento}|"
											th:data-parameter2="${documento.idExpDoc}"
											th:data-parameter3="${modeloTramite.codTramite}" class="tertiary"
											th:onclick="getDocumentoUrl(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))">
											<img th:src="@{/static/images/edit.svg}"
												alt="Edición de plantilla"></button>
										<button
											th:if="${(documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-BOR') and modeloTramite.accionesOperaciones?.get('EPFI')?.get('EORCM') != null and documento.codTFirmaLdv != 'TFIR-NFI'}"
											type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
											th:title="|Enviar a firma el documento ${documento.nomDocumento}|"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('EPFI')?.get('EORCM')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('EPFI')?.get('EORCM')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
											<img th:src="@{/static/images/document_forward-16-blue.svg}"
												alt="Envío a firma">
										</button>
										<button
											th:if="${(documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FIR') and modeloTramite.accionesOperaciones?.get('CORC')?.get('EORC') != null and documento.codTFirmaLdv != 'TFIR-NFI'}"
											th:title="|Enviar a Registro Civil el documento ${documento.nomDocumento}|"
											type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('CORC')?.get('EORC')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('CORC')?.get('EORC')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
											<img th:src="@{/static/images/document_forward-16-blue.svg}"
												alt="Envío a RC">
										</button>
										<button
											th:if="${(documento.estadoDocumento != null and documento.estadoDocumento.codLdvMae == 'EDOC-FIR') and modeloTramite.accionesOperaciones?.get('CDGP')?.get('EODGP') != null and documento.codTFirmaLdv != 'TFIR-NFI'}"
											th:title="|Enviar a DGP el documento ${documento.nomDocumento}|"
											type="button" class="tertiary" th:data-parameter1="${documento.idExpDoc}"
											sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('CDGP')?.get('EODGP')}"
											th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('CDGP')?.get('EODGP')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpDoc${iterStat.index}'])|">
											<img th:src="@{/static/images/document_forward-16-blue.svg}"
												alt="Envío a DGP">
										</button>
									</div>

									<button
										th:if="${documento.expedienteDocumentoDto != null and documento?.estadoDocumento?.codLdvMae != 'EDOC-NRE' and documento.estadoDocumento != 'pendienteGenerar'}"
										type="button" onclick="menuDesplegable(this)" id="menuButton"
										class="tertiary ms-auto" th:disabled="${documento.estadoDocumento == null}"><img
											th:src="@{/static/images/more_vert.svg}" alt="Más opciones"></button>
									<span id="expedienteDocumento" hidden
										th:value="${documento.estadoDocumento}"></span>
								</div>
								<div id="menu" class="menu">
									<div th:if="${documento.expedienteDocumentoDto != null }">
										<button type="button" class="tertiary" id="abrirDetalleDoc"
											th:attr="onclick=|abrirModal('${documento.idExpDoc}')|"><img
												th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
											Ver detalle</button>
										<dialog th:id="'modal' + ${documento.idExpDoc}">
											<th:block
												th:insert="~{fragments/detalleDocumento :: detalleDocumento('formAcuerdoConsejoMinistros', (${documento.expedienteDocumentoDto}))}">
											</th:block>
										</dialog>
									</div>
									<button type="button" th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documento.idExpDoc}"
										th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
										class="tertiary"><img th:src="@{/static/images/download.svg}"
											alt="Descarga de documento">Descargar</button>
									<button type="button"
										th:if="${documento.estadoDocumento != null and (documento.estadoDocumento.codLdvMae == 'EDOC-FIR' or documento.estadoDocumento.codLdvMae == 'EDOC-FRE')}"
										th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documento.idExpDoc}"
										th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary"><img th:src="@{/static/images/file_save.svg}"
											alt="Descarga de copia auténtica">Descargar copia auténtica</button>
								</div>
							</td>
							<td th:if="${documento?.estadoDocumento?.codLdvMae == 'EDOC-NRE'}">
								<div class="d-flex">
									<button title="Más opciones" type="button" onclick="menuDesplegable(this)"
										id="menuButton" class="tertiary  ms-auto">
										<img th:src="@{/static/images/more_vert.svg}" alt="Más opciones">
									</button>
								</div>
								<div id="menu" class="menu" style="display: none;">
									<button type="button" id="abrirAdjuntar" class="tertiary"
										sinacsec:permisos="'P_GRABA'"
										th:attr="onclick=|abrirModalAdjuntar('${documento.idExpDoc}', '${documento.nomDocumento}');limpiarCamposModalAdjuntar();|">
										<img th:src="@{/static/images/attach_file.svg}"
											alt="Adjunto de documento">Adjuntar
									</button>

								</div>
							</td>
						</tr>
						<tr th:each="documentoEntrada, iterstat : ${modeloTramite.documentosEntrada}"
							th:classappend="${!documentoEntrada.flgActivo and documentoEntrada.ldvMaestraDtoByIdEstDocLdv != null and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-NRE'} ? historico : '' ">
							<td>
							</td>
							<td>
								<span th:text="${documentoEntrada.documentoTipoDto.nomTipo}"></span>
							</td>
							<td>
								<div class="d-flex gap-2">
									<div class="tag-container" id="alert"
										th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-NRE'}">
										<img th:src="@{/static/images/warning-black.svg}" alt="Alerta">
										<span
											th:text="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.nomLdvMae}"></span>
									</div>
									<div class="tag-container"
										th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv != null and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-NRE'}"
										th:id="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv.nomLdvMae == 'En requerimiento' or documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-PVA' ? 'info' : 
																										(documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-INC' or  documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-EFI' or  documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-ERE' or  documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-EGD') ? 'alert' 
																										: 'checked'}">
										<img th:src="@{/static/images/cancel-black.svg}" alt="Estado del documento"
											th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-INC'}">
										<img th:src="@{/static/images/check_circle-black.svg}"
											alt="Estado del documento"
											th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-VAL'}">
										<img th:src="@{/static/images/preliminary.svg}" alt="Estado del documento"
											th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-PVA'}">
										<img th:src="@{/static/images/warning-black.svg}" alt="Estado del documento"
											th:if="${documentoEntrada.codGd == null and (documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-PVA' and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-VAL' and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-INC')}">
										<span th:unless="${documentoEntrada.codGd == null and (documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-PVA' 
																										and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-VAL' 
																										and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae == 'EDOC-INC'
																											and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-EFI' 
																											and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-ERE' 
																											and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-EGD')}"
											th:text="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.nomLdvMae}"></span>
										<span
											th:if="${documentoEntrada.codGd == null and (documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-PVA' and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-VAL' and documentoEntrada.ldvMaestraDtoByIdEstDocLdv.codLdvMae != 'EDOC-INC')}">
											Subida incompleta</span>
									</div>
									<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
										th:if="${documentoEntrada.codGd == null and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-NRE'}"
										title="El documento ha sido guardado pero no se ha completado la subida al gestor documental, para reintentarlo, únicamente pulse el icono de reintentar.">
								</div>
							</td>
							<td>
								<span
									th:text="${documentoEntrada.registroDtos != null and !documentoEntrada.registroDtos.empty and documentoEntrada.registroDtos[0].fechaReg != null} ? ${documentoEntrada.registroDtos[0].fechaReg}"></span>
							</td>
							<td
								th:if="${documentoEntrada.codGd == null and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-NRE'}">
								<div class="d-flex">
									<button type="button" class="tertiary" title="Subir a Gestor Documental"
										sinacsec:permisos="P_TRAMITA"
										th:attr="onclick=|ajaxLoadForm('${url}/expedientes/${modeloTramite.idExp}/tramite/REV/documentos/${documentoEntrada.idExpDoc}', 'POST', 'expediente', new Array('documentosEntrada'), false)|">
										<img th:src="@{/static/images/sync.svg}" alt="Subir a Gestor Documental">
									</button>
									<button type="button" class="tertiary"
										th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-PVA' OR documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-INC'}"
										title="Validación de documento" sinacsec:permisos="'P_TRAMITA'"
										th:attr="onclick=|ajaxLoadForm('${url}/expedientes/${modeloTramite.idExp}/tramite/REV/documentos/${documentoEntrada.idExpDoc}/validar-rechazar/1', 'POST', 'expediente', new Array('documentosEntrada'),false)|">
										<img th:src="@{/static/images/check_circle-blue.svg}"
											alt="Validación de documento">
									</button>
									<button type="button" class="tertiary"
										th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-PVA' OR documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-VAL'}"
										title="Invalidación de documento" sinacsec:permisos="'P_TRAMITA'"
										th:attr="onclick=|ajaxLoadForm('${url}/expedientes/${modeloTramite.idExp}/tramite/REV/documentos/${documentoEntrada.idExpDoc}/validar-rechazar/0', 'POST', 'expediente', new Array('documentosEntrada'),false)|">
										<img th:src="@{/static/images/cancel-blue.svg}" alt="Invalidación de documento">
									</button>
									<button title="Más opciones" type="button" onclick="menuDesplegable(this)"
										id="menuButton" class="tertiary  ms-auto">
										<img th:src="@{/static/images/more_vert.svg}" alt="Más opciones">
									</button>
								</div>
								<div id="menu" class="menu">
									<button type="button" class="tertiary" id="abrirDetalleDoc"
										th:attr="onclick=|abrirModal('${documentoEntrada.idExpDoc}')|">
										<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle"> Ver
										detalle
									</button>
									<dialog th:id="'modal' + ${documentoEntrada.idExpDoc}">
										<th:block
											th:insert="~{fragments/detalleDocumento :: detalleDocumento('modeloTramite.expediente', (${documentoEntrada}))}">
										</th:block>
									</dialog>
									<button type="button" th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documentoEntrada.idExpDoc}"
										th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary">
										<img th:src="@{/static/images/download.svg}"
											alt="Descarga de documento">Descargar
									</button>
									<button type="button" th:hidden="${documentoEntrada.codGd == null}"
										th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documentoEntrada.idExpDoc}"
										th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary">
										<img th:src="@{/static/images/file_save.svg}"
											alt="Descarga de copia auténtica">Descargar copia
										auténtica
									</button>
								</div>
							</td>
							<td
								th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-PVA' and documentoEntrada.flgActivo and documentoEntrada.codGd != null}">
								<div class="d-flex">
									<button type="button" class="tertiary" title="Validación de documento"
										sinacsec:permisos="'P_TRAMITA'"
										th:attr="onclick=|ajaxLoadForm('${url}/expedientes/${modeloTramite.idExp}/tramite/REV/documentos/${documentoEntrada.idExpDoc}/validar-rechazar/1', 'POST', 'expediente', new Array('documentosEntrada'),false)|">
										<img th:src="@{/static/images/check_circle-blue.svg}"
											alt="Validación de documento">
									</button>
									<button type="button" class="tertiary" title="Invalidación de documento"
										sinacsec:permisos="'P_TRAMITA'"
										th:attr="onclick=|ajaxLoadForm('${url}/expedientes/${modeloTramite.idExp}/tramite/REV/documentos/${documentoEntrada.idExpDoc}/validar-rechazar/0', 'POST', 'expediente', new Array('documentosEntrada'),false)|">
										<img th:src="@{/static/images/cancel-blue.svg}" alt="Invalidación de documento">
									</button>
									<button title="Más opciones" type="button" onclick="menuDesplegable(this)"
										id="menuButton" class="tertiary  ms-auto">
										<img th:src="@{/static/images/more_vert.svg}" alt="Más opciones">
									</button>
								</div>
								<div id="menu" class="menu">
									<button type="button" class="tertiary" id="abrirDetalleDoc"
										th:attr="onclick=|abrirModal('${documentoEntrada.idExpDoc}')|">
										<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle"> Ver
										detalle
									</button>
									<dialog th:id="'modal' + ${documentoEntrada.idExpDoc}">
										<th:block
											th:insert="~{fragments/detalleDocumento :: detalleDocumento('modeloTramite.expediente', (${documentoEntrada}))}">
										</th:block>
									</dialog>
									<button type="button" th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documentoEntrada.idExpDoc}"
										th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary">
										<img th:src="@{/static/images/download.svg}"
											alt="Descarga de documento">Descargar
									</button>
									<button type="button" th:hidden="${documentoEntrada.codGd == null}"
										th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documentoEntrada.idExpDoc}"
										th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary">
										<img th:src="@{/static/images/file_save.svg}"
											alt="Descarga de copia auténtica">Descargar copia
										auténtica
									</button>
								</div>
							</td>
							<td th:if="${documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae == 'EDOC-NRE'}">
								<div class="d-flex">
									<button title="Más opciones" type="button" onclick="menuDesplegable(this)"
										id="menuButton" class="tertiary  ms-auto">
										<img th:src="@{/static/images/more_vert.svg}" alt="Más opciones">
									</button>
								</div>
								<div id="menu" class="menu" style="display: none;">
									<button type="button" id="abrirAdjuntar" class="tertiary"
										sinacsec:permisos="'P_GRABA'"
										th:attr="onclick=|abrirModalAdjuntar('${documentoEntrada.documentoTipoDto.idDocTipo}', '${documentoEntrada.documentoTipoDto.nomTipo}');limpiarCamposModalAdjuntar();|">
										<img th:src="@{/static/images/attach_file.svg}"
											alt="Adjunto de documento">Adjuntar
									</button>

								</div>
							</td>
							<td th:if="${!documentoEntrada.flgActivo and documentoEntrada.ldvMaestraDtoByIdEstDocLdv != null 
																									and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-NRE' 
																									and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-EFI' 
																									and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-ERE' 
																									and documentoEntrada.ldvMaestraDtoByIdEstDocLdv?.codLdvMae != 'EDOC-EGD'}">
								<button title="Más opciones" type="button" onclick="menuDesplegable(this)"
									id="menuButton" class="tertiary ms-auto">
									<img th:src="@{/static/images/more_vert.svg}" alt="Más opciones">
								</button>
								<div id="menu" class="menu">
									<button type="button" th:data-parameter1="${modeloTramite.idExp}"
										th:data-parameter2="${documentoEntrada.idExpDoc}"
										th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
										class="tertiary">
										<img th:src="@{/static/images/download.svg}"
											alt="Descarga de documento">Descargar
									</button>
									<button type="button" class="tertiary" id="abrirDetalleDoc"
										th:attr="onclick=|abrirModal('${documentoEntrada.idExpDoc}')|">
										<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle"> Ver
										detalle
									</button>
									<dialog th:id="'modal' + ${documentoEntrada.idExpDoc}">
										<th:block
											th:insert="~{fragments/detalleDocumento :: detalleDocumento('modeloTramite.expediente', (${documentoEntrada}))}">
										</th:block>
										<button th:id="'cerrarAdjuntar'+${documentoEntrada.idExpDoc}" class="tertiary"
											th:attr="onclick=|cerrarModal('${documentoEntrada.idExpDoc}')|">Cerrar</button>
									</dialog>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--<button class="secondary mt-4">
			<svg width="14" height="14" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M4.33325 5.66671H0.333252V4.33337H4.33325V0.333374H5.66658V4.33337H9.66658V5.66671H5.66658V9.66671H4.33325V5.66671Z"
					fill="#0F5DA3" />
			</svg>Añadir otros documentos</button>-->
	</form>
	<dialog id="modalAdjuntarDocumento">
		<th:block
			th:insert="~{expedientes/adjuntarDocumentos :: adjuntarDocumentos('modeloTramite.expediente', (${modeloTramite.expediente.procedimientoDto.idPro}),'false')}">
		</th:block>
	</dialog>
	<form action="#" id="formularioEditarDocumento" name="formularioEditarDocumento" method="get">
	</form>
	<dialog id="modalEnviarEmail">
		<div th:if="${enviarEmailDto != null}" th:insert="~{fragments/enviarEmail.html}"></div>
	</dialog>
</section>