<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<section name="head" th:insert="~{layout/head (title='SINAC - Búsqueda de expedientes CNI')}">

	<head>
		<title>SINAC - Búsqueda de expedientes CNI</title>
	</head>
</section>

<body>
	<th:block th:insert="~{layout/header :: header}"></th:block>
	<div class="d-grid home-container">
		<th:block th:insert="~{layout/menu}"></th:block>
		<main class="main-content">
			<header>
				<span class="header-title">Expedientes con Informe CNI
					<span th:if="${BusquedaExpedientesDto.idTarjetaInicio == 7}">pendiente</span>
					<span th:if="${BusquedaExpedientesDto.idTarjetaInicio == 8}">respondido</span>
				</span>
				<button id="mostrarFiltros"
					onclick="toggleContent({idContenidoAMostrar: 'formBusquedaExpedientes', idContenidoAOcultar: null, idBotonAMostrar: 'ocultarFiltros', idBotonAOcultar: 'mostrarFiltros'})"
					class="tertiary" th:classappend="${BusquedaExpedientesDto.idTarjetaInicio != null} ? 'oculto'
					">Mostrar filtros<img th:src="@{/static/images/filter_alt.svg}" alt="Filtros ocultos/mostrados"></button>
				<button id="ocultarFiltros"
					onclick="toggleContent({idContenidoAMostrar: null, idContenidoAOcultar: 'formBusquedaExpedientes', idBotonAMostrar: 'mostrarFiltros', idBotonAOcultar: 'ocultarFiltros'})"
					class="tertiary" th:classappend="${BusquedaExpedientesDto.idTarjetaInicio == null} ? 'oculto'
										">Ocultar filtros<img th:src="@{/static/images/filter_alt_off.svg}" alt="Filtros ocultos/mostrados"></button>
			</header>
			<form id="formBusquedaExpedientes" th:action="@{/expedientes/busquedaCni}" method="get"
				class="needs-validation" novalidate>
				<section id="busquedaExpedientes" class="card-container">
					<header>
						<div class="card-container--left-icon">
							<img th:src="@{/static/images/search.svg}" alt="Búsqueda de expedientes">
						</div>
						<span>Filtros de Expedientes</span>
					</header>
					<div id="filtro">
						<div id="filtroInteresado">
							<div class="filter-content">
								<div>
									<strong>Datos del interesado</strong>
									<img onclick="limpiarFiltroConcreto('filtroInteresado'); $(this).parent().parent().parent().hide();"
										th:src="@{/static/images/icon.svg}" alt="Cierre de datos">
								</div>
								<th:block
									th:insert="~{fragments/filtro/datosPersonaCni :: persona('interesado','identificacionInteresado','contactoInteresado','domicilioInteresado','BusquedaExpedientesDto')}">
								</th:block>
							</div>
						</div>
						<div id="filtroExpediente">
							<div class="filter-content">
								<div>
									<strong>Datos de expediente</strong>
									<img onclick="limpiarFiltroConcreto('filtroExpediente'); $(this).parent().parent().parent().hide();"
										th:src="@{/static/images/icon.svg}" alt="Cierre de datos">
								</div>
								<div class="info-container">
									<div>
										<input class="form-control" type="text" maxlength="50" placeholder=""
											id="codExp" name="codExp" value="">
										<label for="codExp">Código de expediente</label>
									</div>
									<div>
										<select class="form-control" id="procedimientoDto.idPro" name="procedimientoDto.idPro">
											<option selected value=""></option>
											<option th:each="comboDto : ${@componentesComunesService.getComboProcedimientos()}"
												th:text="${comboDto.valorCampoDesplegable}" th:value="${comboDto.idCampoDesplegable}">
										</select>
										<label for="procedimiento">Procedimiento</label>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between mt-3">
							<button onclick="limpiarFiltros()" type="button" class="tertiary">Limpiar todos los filtros
								<img th:src="@{/static/images/delete.svg}" alt="Eliminación de filtros">
							</button>
							<button class="primary" id="busquedaExpedientes" type="button"
								th:attr="onclick=|validarBusquedaExpedientes('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}');|">Buscar</button>
						</div>
					</div>
				</section>
			</form>
			<section id="resultadoBusqueda" class="card-container">
				<div class="d-flex justify-content-between">
					<span th:text="${expedientesPage.totalElements} + ' resultados encontrados'"></span>
					<button class="secondary">Generar Excel<img th:src="@{/static/images/Vector.svg}"
							alt="Generación de Excel"></button>
				</div>
				<table aria-describedby="Tabla de expedientes">
					<thead>
						<tr>
							<th></th>
							<th scope="col" id="columnaExpediente">Expediente
								<button type="button" id="botonOrdenarNeutroExpediente"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'codExpediente') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'codExpediente' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','codExpediente');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteExpediente"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda=='codExpediente'} and ${BusquedaExpedientesDto.tipoOrdenacionBusqueda=='ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','codExpediente');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteExpediente"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda=='codExpediente'} and ${BusquedaExpedientesDto.tipoOrdenacionBusqueda=='descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col" id="columnaNumIdentificacion">Nº Identificación
								<button type="button" id="botonOrdenarNeutroNIden"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'numIdentificacion') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'numIdentificacion' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','numIdentificacion');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary "><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteNIden"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'numIdentificacion' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','numIdentificacion');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteNIden"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'numIdentificacion' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col" id="columnaNombre">Nombre
								<button type="button" id="botonOrdenarNeutroNom"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'nombreInteresado') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nombreInteresado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','nombreInteresado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteNom"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nombreInteresado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','nombreInteresado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteNom"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nombreInteresado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col">Apellido 1
								<button type="button" id="botonOrdenarNeutroApe1"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'apellido1Interesado') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido1Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','apellido1Interesado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteApe1"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido1Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','apellido1Interesado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteApe1"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido1Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col" id="columnaApellido2">Apellido 2
								<button type="button" id="botonOrdenarNeutroApe2"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'apellido2Interesado') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido2Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','apellido2Interesado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteApe2"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido2Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','apellido2Interesado');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteApe2"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'apellido2Interesado' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col" id="columnaNacionalidad">Nacionalidad
								<button type="button" id="botonOrdenarNacionalidad"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'nacionalidad') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nacionalidad' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','nacionalidad');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteFCreacion"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nacionalidad' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','nacionalidad');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteFCreacion"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'nacionalidad' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th>
							<th scope="col" id="columnaProcedimiento">Tipo Procedimiento
								<button type="button" id="botonOrdenarProcedimiento"
									th:if="${(BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == null and BusquedaExpedientesDto.tipoOrdenacionBusqueda == null) or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda != 'procedimiento') or (BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'procedimiento' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'neutral') }"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','ascendente');parameterMap.set('nombreColumnaOrdenarBusqueda','procedimiento');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/swap_vert.svg}"
										alt="Ordenación"></button>
								<button type="button" id="botonOrdenarAscendenteFCreacion"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'procedimiento' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'ascendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','descendente');parameterMap.set('nombreColumnaOrdenarBusqueda','procedimiento');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_upward-14-blue.svg}"
										alt="Ordenación Ascendente"></button>
								<button type="button" id="botonOrdenarDescendenteFCreacion"
									th:if="${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda == 'procedimiento' and BusquedaExpedientesDto.tipoOrdenacionBusqueda == 'descendente'}"
									th:attr="onclick=|parameterMap.set('page',${expedientesPage.number});parameterMap.set('size',$('#tableSizeMostrar').find(':selected').val());parameterMap.set('tipoOrdenacionBusqueda','neutral');ajaxLoadForm('${url}/expedientes/busquedaCni?idTarjeta=${BusquedaExpedientesDto.idTarjetaInicio}', 'POST', 'formBusquedaExpedientes', new Array('resultadoBusqueda'), true)|"
									class="tertiary"><img th:src="@{/static/images/arrow_downward-14-blue.svg}"
										alt="Ordenación Descendente"></button>
							</th> 
						</tr>
					</thead>
					<tbody id="contenidoTablaExpedientes">
						<form id="formResponderCni" class="needs-validation" novalidate>
							<tr th:each="tablaExps,iterstat : ${expedientesPage.content}">
								<td><img th:src="@{/static/images/Badge.svg}" alt="Información de expediente"></td>
								<td th:text="${tablaExps.codExp}"></td>
								<td th:text="${tablaExps.numAcreditacionInteresado}"></td>
								<td th:text="${tablaExps.nombreInteresado}"></td>
								<td th:text="${tablaExps.apellido1Interesado}"></td>
								<td th:text="${tablaExps.apellido2Interesado}"></td>
								<td th:text="${tablaExps.nacionalidadInteresado}"></td>
								<td th:text="${tablaExps.tipoProcedimiento}"></td>
								<td><button th:if="${tablaExps.estadoExpediente == 'Informe CNI solicitado' or #lists.contains(tablaExps.listaEstados, 'Informe CNI solicitado')}" type="button"
										class="tertiary ms-auto"
										th:attr="onclick=|responderCni('${tablaExps.idPer}', '${tablaExps.idExp}', '${tablaExps.codExp}')|">
										<img th:src="@{/static/images/quick_reference.svg}" alt="Responder CNI">
									</button>
								</td>
							</tr>
						</form>
					</tbody>
				</table>
				<dialog id="modalResponderCni" style="width:50%">
					<!--<th:block
						th:insert="~{fragments/modalResponderCni ::responderCni}">
					</th:block>-->
				</dialog>
				<th:block
					th:replace="~{layout/paginador :: paginador(${expedientesPage},'formBusquedaExpedientes','busquedaExpedientes','resultadoBusqueda', ${BusquedaExpedientesDto.nombreColumnaOrdenarBusqueda}, ${BusquedaExpedientesDto.tipoOrdenacionBusqueda},'page',${pageNumbers})}">
				</th:block>
			</section>
		</main>
	</div>
	<section name="footer" th:insert="~{layout/footer}"></section>
</body>

</html>