<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fragmento datos identificación editable</title>
</head>
<body>
	<th:block th:fragment="comunicacionesExternas">
		<div class="form-container" th:fragment="comunicaciones(comunicacionesExternasDto)">
		<h1 th:text="#{expedientes.comunicaciones}"></h1>
		<input type="hidden" id="cerrarVentana" th:value="${cerrarVentana}" />
		<div>
			<label for="motivo" th:text="#{expedientes.comunicaciones.motivo}"></label>
			<select id="motivo">
				<option th:text="#{expedientes.seleccion}" value=""></option>
				<option th:each="motivoComunicacion : ${comunicacionesExternasDto.motivo}"
					th:text="${motivoComunicacion.valorCampoDesplegable}"
					th:value="${motivoComunicacion.idCampoDesplegable}" />
			</select>
			<div class="error-validator" name="idMotivo"></div>
		</div>
		<div>
			<label for="tipoCom" th:text="#{expedientes.comunicaciones.tipo}"></label>
			<select id="tipoCom">
				<option th:text="#{expedientes.seleccion}" value=""></option>
				<option th:each="tipComunicacion : ${comunicacionesExternasDto.tipoComunicacion}"
					th:text="${tipComunicacion.valorCampoDesplegable}"
					th:value="${tipComunicacion.idCampoDesplegable}" />
			</select>
			<div class="error-validator" name="idTipoCom"></div>

		</div>
		<div>
			<label for="organismo" th:text="#{expedientes.comunicaciones.organismo}"></label>
			<input type="text" id="organismo" maxlength="9" value="">
			<div class="error-validator" name="organo"></div>
		</div>
		<div>
			<label for="destinatario" th:text="#{expedientes.comunicaciones.destinatario}"></label>
			<input type="text" id="destinatario" maxlength="100" value="">
			<div class="error-validator" name="destinatario"></div>
		</div>
		<div>
			<label for="descripcion" th:text="#{expedientes.comunicaciones.descripcion}"></label>
			<textarea id="descripcion" maxlength="200" value=""></textarea>
			<div class="error-validator" name="descripcion"></div>
		</div>
		<div><label for="fechaCom" th:text="#{expedientes.comunicaciones.fechaComunicacion}"></label>
			<input id="fechaCom" type="date" value=""
				th:attr="min='1995-01-01', max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
			<div class="error-validator" name="fechaCom"></div>
		</div>
		<div>
			<span id="mensajeCorrecto" th:text="#{expedientes.comunicaciones.mensaje}" class="success-message"
				hidden></span>
		</div>
		<div>
			<button id="botonCancelarExt" type="button" th:onclick="cancelarComunicacionExterna()"
				th:text="#{boton.cancelar}"></button>

			<button id="botonGuardarExt" type="button" th:onclick="guardarComunicacionExterna()"
				th:text="#{boton.guardar}"></button>
		</div>
	</div>
	</th:block>
</body>
</html>