.classpath
.project
.settings/
target/
.flattened-pom.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
otu/

### Eclipse ###
.project
.classpath
.factorypath
.settings/
bin/
*.launch

### VS Code ###
.vscode/

