<th:block th:fragment="informesMju()">
	<form id="formMJU" name="formMJU" class="tab-content">
		<div th:if="${modeloTramite.informeMJU!=null}">
			<strong>Datos del informe</strong>
			<div class="info-container">
				<small>
					<strong>Estado</strong>
					<div class="tag-container" th:id="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-VAL' ? 'checked' : modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' ||  modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-CAD' ? 'alert' : 'info'}">
						<span th:text="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.nomLdvMae}"></span>
					</div>
				</small>
				<small>
					<strong class="d-flex align-items-center">
			        	<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
			            	title="Fecha en la que el sistema SINAC ha enviado la solicitud del informe a MJU. Esta fecha servirá para el cálculo del plazo de respuesta del informe." class="me-1">
			        	Fecha de solicitud</strong>
					<span
						th:text="${#dates.format(modeloTramite.informeMJU?.fechaSolicitud, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMJU?.fechaSolicitud}"></span>
				</small>
				<small>
					<strong class="d-flex align-items-center">
			        <img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
			            title="Fecha en la que la MJU ha emitido la respuesta del informe. Esta fecha servirá para el cálculo del plazo de caducidad del informe." class="me-1">
			        Fecha de emisión</strong>
					<span
						th:text="${#dates.format(modeloTramite.informeMJU?.fechaEmisionInf, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMJU?.fechaEmisionInf}"></span>
				</small>
				<small>
					<strong class="d-flex align-items-center">
		            <img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
		            	title="Fecha en la que el sistema SINAC recibe la respuesta del informe." class="me-1">
		          	Fecha de recepción</strong>
					<span
						th:text="${#dates.format(modeloTramite.informeMJU?.fechaRecepcion, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMJU?.fechaRecepcion}"></span>
				</small>
				<small>
					<strong>Edad del interesado</strong>
					<span th:text="${modeloTramite.informeMJU?.edad}"></span>
				</small>
			</div>
			<span hidden th:value="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae}"></span>
			<div
				th:if="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae != 'EINF-SSO' AND modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae != 'EINF-PEN'}">
				<strong>Datos de solicitud</strong>
				<div class="info-container pt-2">
					<small>
						<strong>Fichero de solicitud</strong>
						<span th:text="${modeloTramite.informeMJU?.nombreFicheroSolicitud}"></span>
					</small>
					<small>
						<strong>Estado de fichero de solicitud</strong>
						<div class="tag-container" th:id="${modeloTramite.informeMJU?.estadoFicheroSolicitud?.codLdvMae == 'EFICH-TRA' ? 'checked'
							: modeloTramite.informeMJU?.estadoFicheroSolicitud?.codLdvMae == 'EFICH-ERR' ? 'alert'
							: 'info'}">
								<span th:text="${modeloTramite.informeMJU?.estadoFicheroSolicitud?.nomLdvMae}"></span>
							</div>
					</small>
				</div>
			</div>
			<div
				th:if="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae != 'EINF-SSO' AND modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae!='EINF-PEN' AND modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae != 'EINF-SOL'}">
				<strong>Datos de respuesta</strong>
				<div class="info-container pt-2">
					<small>
						<strong>Sentido del informe</strong>
						<span th:text="${modeloTramite.informeMJU?.ldvMaestraDtoByIdSentidoInfLdv?.nomLdvMae}"
							th:title="${modeloTramite.informeMJU?.ldvMaestraDtoByIdSentidoInfLdv?.nomLdvMae}"></span>
					</small>
					<small>
						<strong>Informe MJU</strong>
						<div class="row row-no-gutters">
							<div th:if="${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc !=null}" class="col-sm-2">
								<button type="button" class="tertiary" id="abrirDetalleDoc"
									th:attr="onclick=|abrirModal('${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc}')|">
									<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
								</button>
								<dialog th:id="'modal' + ${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc}">
									<th:block
										th:insert="~{fragments/detalleDocumento :: detalleDocumento('formMJU', (${modeloTramite.informeMJU?.expedienteDocumentoDto}))}">
									</th:block>
								</dialog>
							</div>
							<div th:if="${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc != null}" class="col-sm-2">
								<button type="button" th:data-parameter1="${modeloTramite.idExp}"
									th:data-parameter2="${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc}"
									th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
									class="tertiary"><img th:src="@{/static/images/download.svg}"
										alt="Descarga de documento"></button>

							</div>
							<div th:if="${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc != null}" class="col-sm-2">
								<button type="button" th:data-parameter1="${modeloTramite.idExp}"
									th:data-parameter2="${modeloTramite.informeMJU?.expedienteDocumentoDto?.idExpDoc}"
									th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
									class="tertiary"><img th:src="@{/static/images/file_save.svg}"
										alt="Descarga de copia auténtica"></button>
							</div>
						</div>
					</small>
				</div>
			</div>
			<div class="d-flex">
				<div class="d-flex gap-3 ms-auto">
					<input type="hidden" name="tipoInformeMju" id="tipoInformeMju"
						th:value="${modeloTramite.informeMJU.ldvMaestraDtoByIdInfLdv.codLdvMae}">
					<button sinacsec:permisos="'P_TRAMITA'"
						th:if="${modeloTramite.accionesOperaciones?.get('RCEX')?.get('IMJU') != null}"
						type="button" class="secondary me-auto" 
						th:data-parameter1="${modeloTramite.comunicacionesExternasMJUSolicitudMotivoRecepcion.nomLdvMae}"
						th:data-parameter2="${modeloTramite.comunicacionesExternasMJUSolicitudTipo.nomLdvMae}"
						th:data-parameter3="${modeloTramite.comunicacionesExternasMJUSolicitudOrgano.nomLdvMae}"
						th:data-parameter4="${modeloTramite.comunicacionesExternasMJUSolicitudMotivoRecepcion.idLdvMae}"
						th:data-parameter5="${modeloTramite.comunicacionesExternasMJUSolicitudTipo.idLdvMae}"
						th:data-parameter6="${modeloTramite.comunicacionesExternasMJUSolicitudOrgano.idLdvMae}"
						th:data-parameter7="${modeloTramite.accionesOperaciones?.get('RCEX')?.get('IMJU')}"
						th:onclick="abrirModalComunicacionesExternas(this.getAttribute('data-parameter1'), 
													this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'), 'Registro Central de Penados','IMJU',this.getAttribute('data-parameter4'), this.getAttribute('data-parameter5'), this.getAttribute('data-parameter6'), this.getAttribute('data-parameter7'))"
						>Comunicaciones externas</button>
					<button type="button" sinacsec:permisos="'P_TRAMITA'"
						th:if="${(modeloTramite.informeMJU?.idExpInf==null or modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' or modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-CAD') and @componentesComunesService.informeDisponibleEstado(modeloTramite.expediente.expedientesEstadosDtos)}"
						class="primary me-auto"
						th:attr="onclick=|$('#formMJU').attr('action', '/sinac-core/expedientes/${modeloTramite.idExp}/informes/TINF-MJU/solicitar');$('#formMJU').attr('method', 'POST');$('#formMJU').submit();|">
						Solicitar informe</button>
				</div>
			</div>
			<div th:if="${not #lists.isEmpty(modeloTramite.informeMJU.historicoMju)}">
				<div>
					<section class="card-container">
						<table aria-describedby="Tabla de respuestas">
							<thead>
								<tr>
									<th scope="col">Nombre del archivo de solicitud</th>
									<th scope="col">Fecha de solicitud</th>
									<th scope="col">Respuesta general</th>
									<th scope="col">Respuesta solicitud nacional</th>
									<th scope="col">Respuesta solicitud internacional</th>
									<th scope="col">
										<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
		            						title="Fecha en la que el sistema SINAC recibe la respuesta del informe." class="me-1">
		            						Fecha de recepción</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="respuesta, rowStat : ${modeloTramite.informeMJU.historicoMju}">
									<td hidden th:value="${respuesta}"></td>
									<td th:text="${respuesta.idSolicitudInforme}"></td>
									<td th:text="${#dates.format(respuesta.fechaSolicitud, 'dd/MM/yyyy')}"
										th:title="${respuesta.fechaSolicitud}"></td>
									<td>
										<div class="tag-container" th:id="${respuesta.codRespuestaMju != null
											? (respuesta.codRespuestaMju.startsWith('P') ? 'info' :
											respuesta.codRespuestaMju.startsWith('R') ? 'alert' : 'checked')
											: 'info'}">
										<span th:text="${respuesta.codRespuestaMju != null ? respuesta.codRespuestaMju : 'Sin respuesta'}"></span>
										</div>
									</td>
									<td>
										<div th:if="${respuesta.espResMju != null}" class="tag-container" th:id="${(respuesta.espResMju.startsWith('A') || respuesta.espResMju.startsWith('N')) ? 'checked' : 'alert'}">
											<span th:text="${respuesta.espResMju}"></span>
										</div>
									</td>
									<td>
										<div th:if="${respuesta.euResMju != null}" class="tag-container" th:id="${(respuesta.euResMju.startsWith('A') || respuesta.euResMju.startsWith('N')) ? 'checked' : 'alert'}">
											<span th:text="${respuesta.euResMju}"></span>
										</div>
									</td>
									<td th:text="${#dates.format(respuesta.fechaRecepcion, 'dd/MM/yyyy')}">
									</td>
									<td>
										<div>
											<button type="button" class="tertiary" id="abrirDetalleRespuestaMju"
												th:attr="onclick=|abrirModal('${rowStat.index}')|">
												<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
											</button>
											<dialog th:id="'modal' + ${rowStat.index}">
												<th:block
													th:insert="~{fragments/detalleRespuestaMju :: detalleRespuestaMju(${respuesta}, ${rowStat.index})}">
												</th:block>
											</dialog>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</div>
			</div>
			<span hidden th:value="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae}"></span>
			<div  sinacsec:permisos="'P_TRAMITA'" th:if="${modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-REC' OR modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' OR modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-FAV' OR modeloTramite.informeMJU?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-DES'}"
				class="d-flex flex-column gap-4">
				<div class="info-container" th:if="${modeloTramite.expedienteComunicacionesExternasMju != null}">
					<small> <strong>Descripción de comunicación</strong> <span
							th:text="${modeloTramite.expedienteComunicacionesExternasMju?.comDesc}"></span>
					</small> <small> <strong>Fecha de comunicación</strong> <span
							th:text="${#dates.format(modeloTramite.expedienteComunicacionesExternasMju?.fechaCom, 'dd/MM/yyyy')}"></span>
					</small>
				</div>
				<div class="d-flex gap-3 ms-auto">
					<input type="hidden" name="idExpInfMju" id="idExpInfMju"
						th:value="${modeloTramite.informeMJU?.idExpInf}">
					<button th:if="${modeloTramite.accionesOperaciones?.get('MJUF')?.get('IMJU') != null}" type="button"
						sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('MJUF')?.get('IMJU')}"
						class="primary"
						th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('MJUF')?.get('IMJU')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpInfMju'])|">
						Marcar como favorable</button>
					<button th:if="${modeloTramite.accionesOperaciones?.get('MJUD')?.get('IMJU') != null}" type="button"
						sinacsec:permiso-accion="${modeloTramite.accionesOperaciones?.get('MJUD')?.get('IMJU')}"
						class="primary"
						th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('MJUD')?.get('IMJU')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpInfMju'])|">
						Marcar como desfavorable</button>
				</div>
			</div>				
			
		</div>
	</form>
</th:block>
