<th:block th:fragment="informesMde()">
	<form id="formMDE" name="formMDE" class="tab-content">
		<div th:if="${modeloTramite.informeMDE!=null}" >
			<strong>Datos del informe</strong>
			<div class="info-container">
				<small> 
					<strong>Estado:</strong>
					<div class="tag-container" th:id="${modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-VAL' ? 'checked' : modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' ||  modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-CAD' ? 'alert' : 'info'}">
						<span th:text="${modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.nomLdvMae}"></span>
					</div>
				</small> 
				<small> 
					<strong class="d-flex align-items-center">
          				<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
             			title="Fecha en la que el sistema SINAC ha enviado la solicitud del informe al MDE. Esta fecha servirá para el cálculo del plazo de respuesta del informe." class="me-1">
          				Fecha de solicitud:</strong>
					<span th:text="${#dates.format(modeloTramite.informeMDE?.fechaSolicitud, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMDE?.fechaSolicitud}"></span>
				</small>
				<small> 
					<strong class="d-flex align-items-center">
				    	<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
				        	title="Fecha en la que el Ministerio de Defensa ha emitido la respuesta del informe. Esta fecha servirá para el cálculo del plazo de caducidad del informe." class="me-1">
				    	Fecha de emisión:</strong>
					<span th:text="${#dates.format(modeloTramite.informeMDE?.fechaEmisionInf, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMDE?.fechaEmisionInf}"></span>
				</small>
				<small> 
					<strong class="d-flex align-items-center">
	           			<img th:src="@{/static/images/info.svg}" alt="Información" data-bs-toggle="tooltip"
	              			title="Fecha en la que el sistema SINAC recibe la respuesta del informe." class="me-1">
	          			Fecha de recepción:</strong>
					<span th:text="${#dates.format(modeloTramite.informeMDE?.fechaRecepcion, 'dd/MM/yyyy')}"
						th:title="${modeloTramite.informeMDE?.fechaRecepcion}"></span>
				</small>	
				<small> 
					<strong>Edad del interesado:</strong>
					<span th:text="${modeloTramite.informeMDE?.edad}"></span>
				</small> 
			</div>
		</div>
		<br />
    <div th:if="${modeloTramite.informeMDE?.listaExpedienteInformeMdeDtos != null AND !modeloTramite.informeMDE.listaExpedienteInformeMdeDtos.isEmpty()}">
			<div th:if="${modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae != 'EINF-PEN'}">
				<strong>Datos de solicitud</strong>
				<div class="info-container">
					<small> 
						<strong>Ejército:</strong>
						<span th:text="${modeloTramite.informeMDE?.listaExpedienteInformeMdeDtos[0].ejercitoLdv.nomLdvMae}"></span>
					</small>
					<small>
						<strong>Mando:</strong>
						<span th:each="forCamp : ${modeloTramite.expediente.procedimientoDto.formularioCamposValidaDtos}" th:if="${forCamp?.codCampo.equals('MANDO') AND forCamp?.expedienteFormularioValDtos != null AND !forCamp?.expedienteFormularioValDtos.isEmpty()}" th:text="${forCamp?.expedienteFormularioValDtos[0]?.getValor()}"></span>
					</small>
				</div>	
			</div>
			<div th:if="${modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae!='EINF-SOL'
				AND modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae!='EINF-PEN'}">		
				<strong>Datos de respuesta</strong>
				<div class="info-container pt-2">
					<small> 
						<strong>Sentido del informe:</strong>
						<span th:text="${modeloTramite.informeMDE?.ldvMaestraDtoByIdSentidoInfLdv?.nomLdvMae}"
							th:title="${modeloTramite.informeMDE?.ldvMaestraDtoByIdSentidoInfLdv?.nomLdvMae}"></span>
					</small> 
					<small>
						<strong>Texto del informe:</strong>
						<span th:text="${modeloTramite.informeMDE?.info}"></span>
					</small> 
					<small th:if="${!modeloTramite.informeMDE?.expedienteDocumentoInformeMdeDtos.isEmpty()}" th:each="expDocInforme: ${modeloTramite.informeMDE?.expedienteDocumentoInformeMdeDtos}">
						<strong th:if="${expDocInforme.expedienteDocumentoDto != null AND expDocInforme.expedienteDocumentoDto.documentoTipoDto.codTipo == 'IPMDE'}">Informe propuesta Ministerio de Defensa:</strong>
						<strong th:if="${expDocInforme.expedienteDocumentoDto != null AND expDocInforme.expedienteDocumentoDto.documentoTipoDto.codTipo == 'INPFA'}">Informe no perteneciente a las FFAA:</strong>
						<strong th:if="${expDocInforme.expedienteDocumentoDto != null AND expDocInforme.expedienteDocumentoDto.documentoTipoDto.codTipo == 'OTROS'}">Otro:</strong>
						<div class="row row-no-gutters">
							<div th:if="${expDocInforme.expedienteDocumentoDto != null}" class="col-sm-2">
								<button type="button" class="tertiary" id="abrirDetalleDoc"
									th:attr="onclick=|abrirModal('${expDocInforme.expedienteDocumentoDto.idExpDoc}')|">
									<img th:src="@{/static/images/find_in_page.svg}" alt="Modal del detalle">
								</button>
								<dialog th:id="'modal' + ${expDocInforme.expedienteDocumentoDto.idExpDoc}">
									<th:block
										th:insert="~{fragments/detalleDocumento :: detalleDocumento('formMDE', (${expDocInforme.expedienteDocumentoDto}))}">
									</th:block>
								</dialog>
							</div>
							<div th:if="${expDocInforme.expedienteDocumentoDto.idExpDoc != null}" class="col-sm-2">
								<button type="button" th:data-parameter1="${modeloTramite.idExp}"
									th:data-parameter2="${expDocInforme.expedienteDocumentoDto.idExpDoc}"
									th:onclick="descargarDocumentoOriginal(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
									class="tertiary"><img th:src="@{/static/images/download.svg}"
										alt="Descarga de documento"></button>

							</div>
							<div th:if="${expDocInforme.expedienteDocumentoDto.idExpDoc != null}" class="col-sm-2">
								<button type="button" th:data-parameter1="${modeloTramite.idExp}"
									th:data-parameter2="${expDocInforme.expedienteDocumentoDto.idExpDoc}"
									th:onclick="descargarDocumentoCopiaAutentica(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'));"
									class="tertiary"><img th:src="@{/static/images/file_save.svg}"
										alt="Descarga de copia auténtica"></button>
							</div>
						</div>
					</small>
				</div>		
			</div>
			<div class="d-flex">
				<div class="d-flex gap-3 ms-auto" id="mostrarInformeLecturaMde"
					sinacsec:permisos="'P_TRAMITA'"
					th:if="${modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-REC' 
					OR modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' 
					OR modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-FAV' 
					OR modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-DES'}">
					<input type="hidden" name="idExpInfMde" id="idExpInfMde"
						th:value="${modeloTramite.informeMDE?.idExpInf}">
					<button type="button" class="primary"
						th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('MDEF')?.get('IMDE')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpInfMde'])|"
						th:if="${modeloTramite.accionesOperaciones?.get('MDEF')?.get('IMDE') != null}">
						Marcar como favorable</button>
					<button type="button" class="primary"
						th:attr="onclick=|ejecutaAccionTramitacion('${modeloTramite.accionesOperaciones?.get('MDED')?.get('IMDE')}', '${modeloTramite.idExp}', '${modeloTramite.codTramite}', ['idExpInfMde'])|"
						th:if="${modeloTramite.accionesOperaciones?.get('MDED')?.get('IMDE') != null}">
						Marcar como desfavorable</button>
				</div>
			</div>		
		</div>
		<div class="d-flex">
			<div class="d-flex gap-3 ms-auto">
				<input type="hidden" name="tipoInformeMde" id="tipoInformeMde"
					th:value="${modeloTramite.informeMDE?.ldvMaestraDtoByIdInfLdv?.codLdvMae}">
				<button
					 sinacsec:permisos="'P_TRAMITA'"
					th:if="${modeloTramite.informeMDE?.idExpInf==null or modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-RCH' or modeloTramite.informeMDE?.ldvMaestraDtoByIdEstInfLdv?.codLdvMae == 'EINF-CAD'}"
					type="button" class="primary me-auto"
					th:attr="onclick=|$('#formMDE').attr('action', '/sinac-core/expedientes/${modeloTramite.idExp}/informes/TINF-MDE/solicitar');$('#formMDE').attr('method', 'POST');$('#formMDE').submit();|">
					Solicitar informe</button>
			</div>
		</div>
		
	</form>
</th:block>